.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
      min-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
 
/* ========================================================================================================================================================
header
======================================================================================================================================================== */

.header-top {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu, 
.contacts {
  display: none;
}

 .logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.header-nav .logo {
padding: 16px 0;
}

.accent {
  color: #2e2f42;
}

.header-nav {
  margin-right: auto;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  fill: #2F2F37;
  display: block;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }

  .header-nav .logo {
  margin-right: 120px;
  padding: 24px 0;
}

  .header-nav {
  display: flex;
  align-items: center;
}

  .header-nav .menu {
  display: flex;
  gap: 40px;
}

  .page-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

  .page-link:hover,
  .page-link:focus,
  .address-link .link:hover,
  .address-link .link:focus {
  color: #404bbf;
}

  .page-link:active {
  text-decoration: underline;
}

  .main-navigation {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .main-navigation:hover,
  .main-navigation:focus {
  color: #404BBF;
}

  .main-navigation::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

  .contacts {
  display: block;
  font-style: normal;
}

  .contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
    .logo {
      margin-right: 76px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        
    }
    .contact-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
}
/* ========================================================================================================================================================
mobile-menu-styles
======================================================================================================================================================== */

.burger-menu {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.burger-menu-container {
  position: relative;
}

.burger-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #E7E9FC;
}

.burger-nav {
  padding-top: 72px;
  margin-bottom: 168px;
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.burger-menu-item {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-item:hover,
.burger-menu-item:focus {
  color: #404BBF;
}

.contacts-mobile-menu {
  display: flex;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0/02em;
  line-height: 1.2;
  margin-bottom: 48px;
}

.mobile-link-list {
  display: flex;
 justify-content: space-between;
  gap: 40px;
}

.mobile-click-link {
  display: flex;
}

.mobile-link-list-item {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-icon-img {
  fill: #f4f4fd;
}

/* ========================================================================================================================================================
hero-styles
======================================================================================================================================================== */

.section-hero {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url('../images/background_mobile.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/background_mobile@2x.jpg);
    }
}

.header {
  width: 216px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 496px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height:  56px;
  padding: 16px 32px;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero_tablet.jpg');
  }

    .header {
      width: 496px;
      font-size: 56px;
      margin: 0 auto;
      margin-bottom: 36px;
      line-height: 1.07;      
      letter-spacing: 0.02em;
      text-align: center;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    padding: 188px 0;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg_desctop.jpg);
  }

    .header {
      margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg_desctop@2x.jpg);
    }
}
/* ========================================================================================================================================================
our-advantages section styles
======================================================================================================================================================== */


.feature {
  display: none;
}

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.our-advantages {
padding: 96px 0;
}

.our-advantages-menu {
  max-width: 288px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.our-advantages-menu-item .underheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}

.our-advantages-menu .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;;
}

@media screen and (min-width: 768px) {
  .our-advantages-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 736px;
  }
  
  .our-advantages-menu-item {
  width: calc((100% - 24px) / 2);
  }

   .our-advantages-menu-item .underheader{
    text-align: left;
   }
}

@media screen and (min-width: 1158px) {

 .our-advantages-menu {
  display: flex;
  margin: 0 auto;
  max-width: 1128px;
  align-items: baseline;

 }

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px;
  margin-bottom: 8px;
}

.our-advantages-menu-item {
  width: calc((100% - 72px) / 4);
}

.our-advantages-menu-item .underheader {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.our-advantages-menu .text {
  font-weight: 400;
}

.our-advantages {
  padding: 120px 0;
}
}
/* ========================================================================================================================================================
our-team section styles
======================================================================================================================================================== */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.position-container {
  padding: 32px 0;
}

.position-container .underheader {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.position-container .text {
  text-align: center;
  letter-spacing: 0.02em;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-image {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

  .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
      justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
.card-container {
  gap: 24px;
}
  .our-team {
    padding: 120px 0;
  }
}
/* ========================================================================================================================================================
portfolio-section-styles
======================================================================================================================================================== */

.our-portfolio {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-width: 288px;
  justify-content: center;
}

.portfolio-list-item .thumb {
  width: calc((100%-24px) /2);
  position: relative;
  overflow: hidden;
}

.thumb .img-text {
  position: absolute;
  color: rgba(244, 244, 253, 1);
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-list-item:hover .img-text {
  transform: translateY(0%);
}

.text-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-item .underheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

@media screen and (min-width: 768px) {
.portfolio-list-item {
  width: calc((100% - 24px) / 2);
}

  .portfolio-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      justify-content: center;
    }

}

@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0;
  }

  .portfolio-list-item {
      width: calc((100% - 48px) / 3);
  }

  .text-item {
    box-shadow: none;
  }
  
  .text-item:hover,
  .text-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ========================================================================================================================================================
footer styles
======================================================================================================================================================== */

.page-end {
  background-color: rgba(46, 47, 66, 1);
  padding: 96px 0;
}

.page-end .logo {
  display: flex;
  justify-content: center;  
  margin-bottom: 16px;
}

.logo-sector {
  margin-bottom: 72px;
}

.page-end .accent {
  color: rgba(244, 244, 253, 1);
}

.footer-text {
  color: #f4f4fd;
  width: 288px;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  margin-bottom: 72px;
}

.click-link {
    width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4D5AE5;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-img {
  fill: #f4f4fd;
}

.form-name-text {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-field {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

input::placeholder {
  color: #FFFFFF;
}

.subscribe-button {
  max-width: 165px;
  height: 40px;
  border: none;
  background-color: #4D5AE5;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.send-icon {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {

.page-end {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

.logo-sector {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  align-items: start;
}

.footer-social-link {
  margin-bottom: 0;
}

.link-header {
  text-align: left;
}

.footer-text,
.link-list {
  margin-bottom: 0;
}

.form-name-text {
  text-align: left;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}

.form-field {
  width: 264px;
}
}

@media screen and (min-width: 1158px) {
  .footer-container {
      flex-wrap: nowrap;
      gap: 0;
      align-items: baseline;
      padding-left: 15px;
    }
  .page-end {
     padding-left: 0;
    }

.page-end .logo {
margin-bottom: 16px;
}

  .logo-sector {
      display: flex;
      margin-right: 120px;
    }

    .page-end
    .footer-social-link {
       margin-right: auto;
    }

  .subscribe-form {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 24px;
   }

    .link-header {
      text-align: left;
    }

}

/* ========================================================================================================================================================
modal form styles
======================================================================================================================================================== */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #FCFCFC;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: rgba(64, 75, 191, 1);
  border: none;
  fill: #ffffff;
}

.form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 1);
}

.field-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4D5AE5;
}

.field-wraper {
  margin-bottom: 8px;
}

.textarea-wraper {
  margin-bottom: 16px;
}

.input-wraper {
  position: relative;
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgba(46, 47, 66, 1);
}

.form-input:focus+.field-icon {
  fill: #4D5AE5;
}

.textarea-field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
  border-color: rgba(77, 90, 229, 1);
  outline: transparent;
}

.textarea-field::placeholder {
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-wraper {
  margin-bottom: 24px;
}

.own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox-label>.own-checkbox {
  border: none;
  fill: #F4F4FD;
  background-color: #404bbf;
}

.submit-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-button:hover,
.submit-form-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

@media screen and (min-width: 768px) {

  .modal {
    width: 408px;
    min-height: 584px;
  }

}