.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
 
/* ========================================================================================================================================================
header
======================================================================================================================================================== */

header {
  border-bottom: 1px solid #E7E9FC;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu, 
.contacts {
  display: none;
}

.logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.accent {
  color: #2e2f42;
}

.header-nav {
  margin-right: auto;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  fill: #2F2F37;
  display: block;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }

  .logo {
  margin-right: 120px;
  padding: 24px 0;
}

  .header-nav {
  display: flex;
  align-items: center;
}

  .header-nav .menu {
  display: flex;
  gap: 40px;
}

  .page-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

  .page-link:hover,
  .page-link:focus,
  .address-link .link:hover,
  .address-link .link:focus {
  color: #404bbf;
}

  .page-link:active {
  text-decoration: underline;
}

  .main-navigation {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .main-navigation:hover,
  .main-navigation:focus {
  color: #404BBF;
}

  .main-navigation::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

  .contacts {
  display: block;
  font-style: normal;
}

  .contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
    .logo {
      margin-right: 76px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        
    }
    .contact-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
}
/* ========================================================================================================================================================
mobile-menu-styles
======================================================================================================================================================== */

.burger-menu {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.burger-menu-container {
  position: relative;
}

.burger-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #E7E9FC;
}

.burger-nav {
  padding-top: 72px;
  margin-bottom: 168px;
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.burger-menu-item {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-item:hover,
.burger-menu-item:focus {
  color: #404BBF;
}

.contacts-mobile-menu {
  display: flex;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0/02em;
  line-height: 1.2;
  margin-bottom: 48px;
}

.mobile-link-list {
  display: flex;
 justify-content: space-between;
  gap: 40px;
}

.mobile-click-link {
  display: flex;
}

.mobile-link-list-item {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-icon-img {
  fill: #f4f4fd;
}

/* ========================================================================================================================================================
hero-styles
======================================================================================================================================================== */

.section-hero {
  max-width: 320px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url('../images/background_mobile.jpg.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/background_mobile.jpg@2x.jpg);
    }
}

.header {
  width: 216px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 72px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-top: 72px;
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height:  56px;
  padding: 16px 32px;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero_tablet.jpg');
  }

    .header {
      width: 496px;
      font-size: 56px;
      margin: 0 auto;
      margin-bottom: 36px;
      padding-top: 112px;
      line-height: 1.07;      
      letter-spacing: 0.02em;
      text-align: center;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    height: 600px;
      margin-right: auto;
      margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg_desctop.jpg);
  }

    .header {
      padding-top: 188px;
      margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg_desctop@2x.jpg);
    }
}
/* ========================================================================================================================================================
our-advantages section styles
======================================================================================================================================================== */


.feature {
  display: none;
}

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.our-advantages {
margin-bottom: 96px;
}

.our-advantages-menu {
  max-width: 288px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.our-advantages-menu-item .underheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}

.our-advantages-menu .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;;
}

@media screen and (min-width: 768px) {
  .our-advantages-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 736px;
  }
  
  .our-advantages-menu-item {
  width: calc((100% - 24px) / 2);
  }

   .our-advantages-menu-item .underheader{
    text-align: left;
   }
}

@media screen and (min-width: 1158px) {

 .our-advantages-menu {
  display: flex;
  margin: 0 auto;
  max-width: 1128px;
  align-items: baseline;

 }

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px;
  margin-bottom: 8px;
}

.our-advantages-menu-item {
  width: calc((100% - 72px) / 4);
}

.our-advantages-menu-item .underheader {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.our-advantages-menu .text {
  font-weight: 400;
}

.our-advantages {
  margin: 0 0 120px;
}
}
/* ========================================================================================================================================================
our-team section styles
======================================================================================================================================================== */

.our-team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  padding-bottom: 32px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
}

.position-container .underheader {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.position-container .text {
  text-align: center;
  letter-spacing: 0.02em;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-image {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

  .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
      min-width: 768px;
      justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
  .section-header {
    padding-top: 120px;
  }
.card-container {
  gap: 24px;
  min-width: 1158px;
}
  .our-team {
    padding-bottom: 120px;
  }
}
/* ========================================================================================================================================================
portfolio-section-styles
======================================================================================================================================================== */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-width: 288px;
  margin-bottom: 96px;
  justify-content: center;
  
}


.portfolio-list-item .thumb {
  width: calc((100%-24px) /2);
  position: relative;
  overflow: hidden;
}

.thumb .img-text {
  position: absolute;
  color: rgba(244, 244, 253, 1);
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-list-item:hover .img-text {
  transform: translateY(0%);
}

.text-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-item .underheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      min-width: 768px;
      justify-content: center;
      
    }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    margin-bottom: 120px;
  }

  .text-item {
    box-shadow: none;
  }
  
  .text-item:hover,
  .text-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}