body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.form {
  width: 100%;
}

input,
button {
  font-family: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}



.header-top .container,
.header-nav {
  display: flex;
  align-items: center;
}

.header-top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  align-items: center;
  margin-right: auto;
}

.header-nav .menu {
  display: flex;
  gap: 40px;
}

.contacts .address-list {
  display: flex;
  gap: 40px;
}

.accent {
  color: #2e2f42;
}

.page-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.page-link:hover,
.page-link:focus,
.address-link .link:hover,
.address-link .link:focus {
  color: #404bbf;
}

.page-link:active {
  text-decoration: underline;
}

.main-navigation {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation:hover,
.main-navigation:focus {
  color: #404BBF;
}

.main-navigation::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus {
  color: #404BBF;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
  ),
  url(../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: padding-box;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: block;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.container .btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container .btn:hover,
.container .btn:focus {
  background-color: #404BBF;
}

.our-advantages .our-advantages-menu {
  display: flex;
  gap: 24px;
}

.our-advantages-menu-item {
  width: calc((100% - 72px) / 4);
}

.our-advantages .container {
  display: flex;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.contacts {
  font-style: normal;
}

.address-list .link {
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.underheader {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-weight: 400;
  letter-spacing: 0.02em;
}

.section-hero .header {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-hero .btn:hover,
.section-hero .btn:focus {
  background-color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.card-container {
  display: flex;
  gap: 24px;
}

.position-container {
  padding: 32px 0;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.icon-image {
  fill: #f4f4fd;
}

.position-container .underheader {
  text-align: center;
  margin-bottom: 8px;
}

.position-container .text {
  text-align: center;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}



.portfolio-list-item .thumb {
  width: 360px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover .img-text {
  transform: translateY(0%);
}

.thumb .img-text {
  position: absolute;
  color: rgba(244, 244, 253, 1);
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.section-header {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 360px;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
}



.text-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.page-end {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.page-end .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.page-end .accent {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 264px;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link-list-item .click-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list-item .click-link:hover,
.link-list-item .click-link:focus {
  background-color: #31D0AA;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-sector {
margin-right: 120px;
}

.footer-social-link {
  margin-right: auto;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: flex;
  justify-content: left;
  margin-bottom: 16px;
}

.icon-img {
  fill: #f4f4fd;
}

.form-name-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.form-field {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
   padding-left: 16px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

input::placeholder {
  color: #FFFFFF;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  border: none;
  background-color: #4D5AE5;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.send-icon {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}

/* --------------Modal--------------- */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #FCFCFC;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
background-color: rgba(64, 75, 191, 1);
border: none;
fill: #ffffff;
}

.form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 1);
}

.field-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4D5AE5;
}

.field-wraper {
  margin-bottom: 8px;
}
.textarea-wraper {
  margin-bottom: 16px;
}

.input-wraper {
  position: relative;
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgba(46, 47, 66, 1);
}

.form-input:focus + .field-icon {
  fill: #4D5AE5;
}

.textarea-field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius:4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.textarea-field:focus {
  border-color: rgba(77, 90, 229, 1);
  outline: transparent;
}

.textarea-field::placeholder {
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-wraper {
  margin-bottom: 24px;
}

.own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label > .own-checkbox {
border: none;
fill: #F4F4FD;
background-color: #404bbf;
}

.submit-form-button {
  display: block;
  margin-left: auto;
  margin-right:auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-button:hover,
.submit-form-button:focus {
  background-color: rgba(64, 75, 191, 1);
}